@font-face {
    font-family: 'Lexend-Light';
    src: url('../fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'Lexend-Bold';
    src: url('../fonts/Lexend-Bold.ttf');
}

@font-face {
    font-family: 'Lexend-Medium';
    src: url('../fonts/Lexend-Medium.ttf');
}

@font-face {
    font-family: 'Lexend-Semibold';
    src: url('../fonts/Lexend-SemiBold.ttf');
}

@font-face {
    font-family: 'Lexend-ExtraBold';
    src: url('../fonts/Lexend-ExtraBold.ttf');
}

@font-face {
    font-family: 'Lexend-Regular';
    src: url('../fonts/Lexend-ExtraLight.ttf');
}

@font-face {
    font-family: 'WendyOne';
    src: url('../fonts/WendyOne-Regular.ttf');
}
:root {
    --main-color: #FF6000;
    --click-color: #FF9E00;
    --gray: #939393;
    --dark-gray: #2A2A2A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-gray);
}

.header-block {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: flex-end;
}

.links-header {
    font-family: Lexend-Medium;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.button-header a:first-child {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
}


a {
    text-decoration: none;
    color: black;
}

.button-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-header a {
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    color: #939393;
}

.links-header a:hover {
    color: #2A2A2A;
    font-size: 20px;
    font-family: Lexend-Semibold;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-welcome-color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.block-welcome {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.block-welcome-text h1, .block-welcome-text span {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}

.block-welcome-text h1 {
    color: var(--main-color);
}

.block-welcome-text span {
    color: black;
}

.block-welcome-text  {
    font-family: Lexend-ExtraBold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    row-gap: 20px;
}

.block-welcome-img {
    width: 35%;
}

.block-welcome-text button {
    font-family: Lexend-Bold;
    width: 250px;
    height: 48px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.block-welcome-text button:nth-child(2) {
    color: whitesmoke;
    background: var(--main-color);
}
.block-welcome-text button:nth-child(2):hover {
    background-color: var(--click-color);
}

.block-welcome-text button:last-child {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background: transparent;
}

.block-advantages {
    display: flex;
    border-radius: 24px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px 24px;
}

.block-advantages h1 {
    font-family: Lexend-Semibold;
    font-size: 16px;
    color: var(--gray);
    margin: 0;
}
.block-advantages span {
    font-family: 'Lexend-Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 0.24px;
    display: block;
    color: var(--dark-gray);
}

.block-advantages-container {
    width: 390px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.block-advantages-container img {
    width: 100px;
    height: 100px;
}

.block-best {
    margin-top: 100px;
}

.block-best-text {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    flex-direction: row;

}
.block-best-text h1:first-child {
    font-family: Lexend-Bold;
    font-size: 48px;
}

.block-best-text span {
    font-family: Lexend-Bold;
    font-size: 48px;
    color: var(--main-color);
}

.block-best-text h1:last-child {
    font-family: Lexend-Regular;
    font-size: 20px;
    color: var(--gray);
}

.block-best-dish {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;

}

.dish img {
    width: auto;
    height: auto;
}
.dish h1 {
    font-family: Lexend-Semibold;
    color: var(--dark-gray);
    width: 217px;
    margin-bottom: 24px;

}

.dish a {
    font-family: Lexend-Semibold;
    color: var(--main-color);
    font-size: 24px;
}
.block-best-stars {
    font-family: Lexend-Semibold;
    margin-top: 70px;
    display: flex;
    background-color: #FFEFE6;
    font-size: 32px;
    width: 100%;
    justify-content: space-between;
}

.block-best-stars-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.block-regular-dish {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;

}

.block-regular-dish-text h1:first-child {
    font-family: Lexend-Bold;
    font-size: 48px;
}

.block-regular-dish-text h1 span:first-child{
    font-family: Lexend-Bold;
    font-size: 48px;
    color: var(--main-color);
}

.block-regular-dish-text button {
    font-family: Lexend-Bold;
    width: 140px;
    height: 57px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
}

.block-regular-dish-text {
    display: flex;
    justify-content: space-between;
}

.block-regular-dish h1:nth-child(2) {
    font-size: 16px;
    font-family: Lexend-Semibold;
    color: var(--gray);
    margin-top: 35px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu-dish {
    position: relative;
    width: 350px;
    height: 475px;
}

.background-menu {
    position: absolute;
    top: 125px;
    display: flex;
    background-color: #FFEFE6;
    border-radius: 16px;
    height: 350px;
    width: 300px;
}

.menu-dish img {
    position: absolute;
    top: 10px;
    right: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.dish-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #000;
}
.dish-info img {
    display: flex;
    left: 0px;
    top: 65px;
}
.dish-name-and-fb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-buy {
    font-family: Lexend-Semibold;
    font-size: 14px;
    background-color: var(--main-color);
    border: none;
    color: white;
    width: 111px;
    height: 50px;
    border-radius: 50px;
}

.menu-cost {
    width: 300px;
    gap: 55px;
    display: flex;
    margin-top: 50px;
    font-size: 36px;
    font-family: Lexend-Semibold;
    color: var(--dark-gray);
}
.menu-cost h3 {
    font-size: 36px;
    color: var(--dark-gray);
}

.menu-dish h1 {
    font-size: 24px;
    font-family: Lexend-Semibold;
    color: var(--dark-gray);
}

.menu-dish span {
    color: var(--main-color);
}

.menu-text h1 {
    font-family: Lexend-Bold;
    font-size: 48px;
}

.menu-text span {
    font-family: Lexend-Bold;
    font-size: 48px;
    color: var(--main-color);
}

.menu-text h3 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: Lexend-Regular;
    font-size: 16px;
    color: var(--gray);
}

.menu-text button {
    font-family: Lexend-Bold;
    width: 140px;
    height: 57px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
}

.menu-text-btn-h1 {
    display: flex;
    justify-content: space-between;
}

.menu-text {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
}

.market-container-col {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 680px;
    height: 526px;
}

.market-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-marketing {
    margin-top: 80px;
}

.block-footer {
    background-color: #FFEFE6;
    margin-top: 100px;
    height: 473px;
}

.block-footer-container svg {
    position: relative;
    height: 4px;
    top: -10px;
}

.block-footer-container-text {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
}

.block-footer-right {
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: flex-end;

}

.block-footer-right div {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.block-footer-container-text h1 {
    font-family: WendyOne;
}
.block-footer-container-text span {
    color: var(--main-color);
}

.block-footer-right a, h3 {
    color: var(--gray);
    font-size: 20px;
    font-family: Lexend-Semibold;
}

.block-footer-right h2 {
    color: var(--main-color);
    font-family: Lexend-Semibold;
    font-size: 32px;
}

.block-footer-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.block-footer-left-one {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-footer-left-two {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.button-header a:first-child,
.btn-buy,
.menu-text button, .block-welcome button:hover
.block-regular-dish-text button {
    font-family: Lexend-Bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-header a:first-child:hover,
.btn-buy:hover,
.menu-text button:hover,
.block-regular-dish-text button:hover {
    background-color: var(--click-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dish a:hover{
    color: var(--click-color);
}
.block-footer a:hover  {
    color: #2A2A2A;
}
.raiting-comment {
    display: flex;
    justify-content: space-between; 
}

